.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-image: url('../../../assets/images/backcity.png');  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.mmmain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  
  background-color: #f5f5f5;  
}

.city-details-container {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 400px;
  text-align: center;
  backdrop-filter: blur(10px);
}

.city-details-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;  
  color: #333;
}

.city-details-info {
  text-align: left;
}

.city-details-info p {
  font-size: 18px;
  color: #333;
  margin: 15px 0; 
  display: flex;
  align-items: center;
}

.city-details-info fa-icon {
  margin-right: 10px;
  color: #007bff;
}

.loading {
  text-align: center;
  font-size: 18px;
  color: #666;
}

.navigation-button {
  background-color: #2e86de;  
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navigation-button:hover {
  background-color: #1e65c7;  
}

